{% extends 'base.html' %}
{% load static %}

{% block title %}Thank you{% endblock %}

{% block content %}
    <section class="section section-bg" id="call-to-action" style="background-image: url({% static 'assets/images/banner-image-1-1920x500.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Thank <em>you</em></h2>
                        <p>Your order has been successfully completed. Your order number is <strong>{{ order.id }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}