{% extends 'base.html' %}
{% load static %}

{% block title %}Team{% endblock %}

{% block content %}
    <section class="section section-bg" id="call-to-action" style="background-image: url({% static 'assets/images/banner-image-1-1920x500.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Our <em>Team</em></h2>
                        <p>This page includes all members of The Vegetable Store project</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- ***** Testimonials Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/1.jpeg' %}" alt="First One" style="width: 250px; height: 250px; border-radius: 10px;">
                            </div>
                            <div class="right-content">
                                <h4>CST/18/SWE/00142</h4>
                                <p><em><strong>Saidu Haruna Mohammed 07012162536 - Team Leader<br></strong> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"</em></p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/2.jpeg' %}" alt="Second One" style="width: 250px; height: 250px; border-radius: 10px;">
                            </div>
                            <div class="right-content">
                                <h4>CST/18/SWE/00160</h4>
                                <p><em><strong>Awwal Awwal Suleiman 08184125035<br></strong> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"</em></p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/3.jpeg' %}" alt="Third One" style="width: 250px; height: 250px; border-radius: 10px;">
                            </div>
                            <div class="right-content">
                                <h4>CST/18/SWE/00175</h4>
                                <p><em><strong>Ahmad Tijjani Abdullahi 07067411185<br></strong> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"</em></p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/6.jpeg' %}" alt="Sixth One" style="width: 250px; height: 250px; border-radius: 10px;">
                            </div>
                            <div class="right-content">
                                <h4>CST/18/SWE/00419</h4>
                                <p><em><strong>Babangida Isah Abdullahi 07017211190<br></strong> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"</em></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/4.jpeg' %}" alt="Fourth One" style="width: 250px; height: 250px; border-radius: 10px;">
                            </div>
                            <div class="right-content">
                                <h4>CST/18/SWE/00109</h4>
                                <p><em><strong>Hamza Adamu Aliyu <br> 08142868196<br></strong> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"</em></p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/5.jpeg' %}" alt="Fifth One" style="width: 250px; height: 250px; border-radius: 10px;">
                            </div>
                            <div class="right-content">
                                <h4>CST/18/SWE/00112</h4>
                                <p><em><strong>Mahmud Nura Ahmad 08095842647<br></strong> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"</em></p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'assets/images/7.jpeg' %}" alt="Seventh One" style="width: 250px; height: 250px; border-radius: 10px;">
                            </div>
                            <div class="right-content">
                                <h4>CST/18/SWE/00423</h4>
                                <p><em><strong>Shuaibu Abubakar Na'inna 09039046511<br></strong> "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta numquam maxime voluptatibus, impedit sed! Necessitatibus repellendus sed deleniti id et!"</em></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Item End ***** -->
{% endblock %}